
.cards{
    display: grid;
    gap: 30px 20px;
    justify-content: space-around;
    grid-template-columns: auto auto auto ;
    
    
}    
  .img{
    width : 300px;
    height : 250px;
    border-top-left-radius:8mm ;
    border-top-right-radius:8mm ;
  }
.card{
   
   border : 4px solid blueviolet; 
   border-radius: 8mm;  
   width: 300px;
   margin : 20px;
   
   background-color :rgb(231, 227, 231);
   
}
 .height, .gender, .birthYear, .mass{
    font-size: 20px;
    text-align: center;
}
.name{
    font-size: 30px;
    text-align: center;
}
.heading{
    
    text-align: center;
    font-size: 50px;
    color: rgb(231, 227, 231);
    padding: 5px;
}   
.body{
    background-color:rgb(9, 8, 61) ;
}
                                                                                                                                                                                                                                                                                                                                                   