/Write css in the three blocks provided below. You shoud not add any other classes here./

.box1{ display : flex; flex-direction : column; justify-content: space-around;

} .row{ display : flex; justify-content : space-around;

}

.box2{ position : relative; justify-content: center;

}
